// .range_slider {
//     height: 48px;
//     padding: 15px;
//     display: block;
//     border: 1px solid #eee;
// }
// .range_slider_wrapper {



.range_slider {
    $slider_height: 20px;
    $handle_width: $slider_height;
    $handle_height: $slider_height;
    // $range_ht: 8px;
    

    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: $slider_height;
    border-radius: calc(#{$slider_height} / 2);
    display: block;
    background: #eee;
    overflow: hidden;

    .outer_range {
        display: none;
    }

    .band {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        height: calc(#{$slider_height} / 3);
        background: #fff;
    }


    .handle {
        width:  $handle_width;
        height: $handle_height;
        border-radius: calc(#{$handle_height} / 2);
        
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        // border-radius: calc(#{$handle_ht} / 2);
        background: #A9C398;
    }
}
    
