// .range_slider {
//     height: 48px;
//     padding: 15px;
//     display: block;
//     border: 1px solid #eee;
// }
// .range_slider_wrapper {
.range_slider {
    $handle_ht: 16px;
    $range_ht: 8px;
    

    position: relative;
    height: 1em;
    display: block;

    @mixin range() {
        position: relative;

        width: 100%;
        height: $range_ht;
        border: 1px solid #eee;
        border-radius: calc(#{$range_ht} / 2);

        box-sizing: border-box;
        top: 50%;
        transform: translateY(-50%);
    }

    .outer_range {
        @include range;
    }

    .inner_range {
        @include range;
        position: absolute;
        width: unset;
        left: 0;
        right: 30%;
        background: #cee;
    }


    @mixin handle() {
        position: absolute;
        width: $handle_ht;
        height: $handle_ht;
        border-radius: calc(#{$handle_ht} / 2);
        background: #eee;

        top: 50%;
        transform: translateY(-50%);
    }

    .handle_min {
        @include handle;
        // left: 20%;
    }

    .handle_max {
        @include handle;
        // left: 70%;
    }

}
